__pycache__/
*.py[cod]
.venv/
venv/
.env
.env.*
settings.json
*.db
*.sqlite
*.sqlite3

frontend/node_modules/
frontend/dist/
frontend/android/.gradle/
frontend/android/build/
frontend/android/app/build/
frontend/android/capacitor-cordova-android-plugins/build/
*.apk
*.aab

.DS_Store
Thumbs.db